[submodule "mdcath-to-3di/submodules/foldtoken"]
	path = mdcath-to-3di/submodules/foldtoken
	url = git@github.com:A4Bio/FoldToken_open.git
[submodule "prot-jepa/submodules/jepa"]
	path = prot-jepa/submodules/jepa
	url = git@github.com:facebookresearch/jepa.git
[submodule "mdcath-to-3di/submodules/foldseek"]
	path = mdcath-to-3di/submodules/foldseek
	url = git@github.com:steineggerlab/foldseek.git
[submodule "mdcath-to-3di/submodules/bio2token"]
	path = mdcath-to-3di/submodules/bio2token
	url = git@github.com:flagshippioneering/bio2token.git
